# SPDX-FileCopyrightText: 2021 Shun Sakai
#
# SPDX-License-Identifier: CC0-1.0

name: CI

on:
  pull_request:
  push:
    branches:
      - "develop"
      - "master"

jobs:
  test:
    name: Test
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      - name: Setup Go environment
        uses: actions/setup-go@v6
        with:
          go-version: "stable"
      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v3.0.0
        with:
          hugo-version: "0.152.2"
          extended: true
      - name: Build a website
        run: hugo

  fmt:
    name: Format
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      - name: Setup Node.js environment
        uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: "npm"
      - name: Install dependencies
        run: |
          npm ci
          npx prettier -v
      - name: Run formatter in check mode
        run: npx prettier -c "**.{json,md,yaml,yml}"

  lint:
    name: Lint
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      - name: Setup Node.js environment
        uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: "npm"
      - name: Install dependencies
        run: |
          npm ci
          npx markdownlint -V
      - name: Run linter
        run: npx markdownlint content
